.card-shelf {
    margin: 0;
    padding: 0;
    height: 430px;
    width: 350px;
    background: #a1ffce75;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #faffd1c4, #a1ffce75);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #faffd1c4, #a1ffce75); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    border: none;
    font-family: 'Nunito';
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;

    .card-content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .card-above {
            width: 100%;
            flex: 2;
            display: flex;
            flex-direction: column;
            justify-content:space-between;
            align-items: center;
            padding: 5%;

            .product-imgs {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
            }

            .product-img {
                width: 50px;
                height: 50px;
                border-radius: 50%;

                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            .product-name {
                font-size: 14px;
                font-weight: 700;
                color: rgb(71, 71, 71);
            }
        }
        .card-below {
            flex: 1;
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            
            .card-below-top {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 15%;

                .card-detail {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                .card-detail-text {
                    font-size: 45px;
                    color: rgb(82, 82, 82);
                    font-weight: 600;
                }

                .card-detail-title {
                    font-size: 10px;
                }
            }

            .card-below-bottom {
                display: flex;
                width: 80%;
                justify-content: space-between;
                align-items: center;

                .card-detail {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                .card-detail-text {
                    font-size: 20px;
                    color: rgb(82, 82, 82);
                }

                .card-detail-title {
                    font-size: 10px;
                }
            }

            .card-link {
                background-color: rgb(243, 243, 243);
                color: darkgray;
                font-size: 12px;
                font-weight: 600;
                width: auto;
                height: 30px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 2% 4%;
                margin: 3%;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                border-radius: 3px;
                cursor: pointer;

                span {
                    margin-right: 5px;
                    margin-bottom: 5%;
                }
                
            }
        }
    }
}