.batches {
    display: flex;
    width: 100%;
    background-color: rgb(235, 235, 235);

    .batchContainer {
        flex: 6;

        .pageheader {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .actionButtons {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                .newButton {
                    background-color: rgb(9, 68, 102);
                    color: rgb(253, 245, 229);
                    margin: 5px;
                    padding: 7px 15px;
                    border-radius: 5%;
                    cursor: pointer;
                }
            }
        }
        .cards {
            padding: 2%;
            display: grid;
            grid-template-columns: repeat(3, auto);
            gap: 30px 20px;
            
        }
    }
}

button {}

.csv-link {
        text-decoration: none;
        color: white;
        background-color: none;
}

.csv-button {
    background-color: transparent;
    color: white;
    padding: 0;
    width: 40%;
}