.pageheader {
    box-shadow: 0px 0px 5px 0px rgba(172, 172, 172, 0.678);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(172, 172, 172, 0.678);
    -moz-box-shadow: 0px 0px 5px 0px rgba(172, 172, 172, 0.678);
    padding: 1%;
    margin: 2%;
    background-color: white;
}